body{
  margin: 0px;
  font-style: sans-serif;
}
.current{
  background-color: #243248;
  color: white;
}
footer{
  background-color: #243248;
  color: white;
  margin: 0px;
  padding: 3vw;
}

.logo{
  /* width: 15vw; */
  height: 9vh;
}

.content{
  margin-right: 70px;
}
a{
  text-decoration: none;
  color: black;
  height: 9vh;
}

.menu{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 50vw;
  height: 100%;
}

nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #EBE9E4;
}
.sem1{
  grid-area: sem1;
  width: 100%;
}
.sem2{
  grid-area: sem2;
  width: 100%;
}
.sem3{
  grid-area: sem3;
  width: 100%;
}
.sem4{
  grid-area: sem4;
  width: 100%;
}
.exams{
  grid-area: exams;
  width: 100%;
}

.text1{
  grid-area: text1;
}

.text2{
  grid-area: text2;
}
.text3{
  grid-area: text3;
}
.text4{
  grid-area: text4;
}
.text_exam{
  grid-area: text_exam;
}
.grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
"sem1 text1"
"text2 sem2"
"sem3 text3"
"text4 sem4"
"exams text_exam";
}
.hero__img {
  margin: 0px;
  width: 100vw;
  height: 80vh;
  background: url("images/skills.jpg") center no-repeat;
  background-size: cover;

}
.hero__title {
  font-family: sans-serif;
  padding: 40px;
  background: rgba(45, 76, 121, 0.6);
  margin: 0px;
  width: 35vw;
  position: relative;
  top: 40%;
  color: white;
}
.hero__title--bold {
  font-size: 2em;
}
.par-skill, par-job {
  margin-left: 10vw;
}