body{
  margin: 0px;
  font-family: sans-serif;
}
.current{
  background-color: #243248;
  color: white;
display: flex;
align-items: center;
justify-content: center;
height: 9vh;
padding-left: 3vw;
padding-right: 3vw;
}
footer{
  background-color: #243248;
  color: white;
  margin: 0px;
  padding: 3vw;
}
/* .sem{
  width: 1200px;
  height: 800px;
} */
.pic_title--right{
  position: relative;
  z-index: 3;
  bottom: 15vh;
  left: 33vw;
  background-color: rgba(194, 220, 253, 0.5);
  font-size: 2vw;
  width: 16vw;
  padding: 1vw;
}

.pic_title--exams{
  position: relative;
  z-index: 3;
  top: 14vh;
  left: 33vw;
  background-color: rgba(194, 220, 253, 0.5);
  font-size: 2vw;
  width: 16vw;
  padding: 1vw;
  color: white;
}

.pic_title--left{
  position: relative;
  z-index: 3;
  bottom: 15vh;
  left: -1vw;
  background-color: rgba(194, 220, 253, 0.5);
  font-size: 2vw;
  width: 16vw;
  padding: 1vw;
  text-align: right;
}
.white{
  color: white;
  background-color: rgba(194, 220, 253, 0.7);
}


.frontpage_photo{
  width: 100%;
  grid-area: frontpage_photo;
}
.logo{
  /* width: 15vw; */
  height: 9vh;
}

.content, .outcome{
  margin-right: 20px;
  margin-left: 20px;
}


a{
  text-decoration: none;
  color: black;
}



.menu{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 50vw;
  height: 100%;
}

nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #C1DBFE;
}
.pic_content{
  width: 100%;
}
.sem1{
  grid-area: sem1;
}
.sem2{
  grid-area: sem2;
}
.sem3{
  grid-area: sem3;
}
.sem4{
  grid-area: sem4;
}
.exams{
  grid-area: exams;
}

.text1{
  grid-area: text1;
}

.text2{
  grid-area: text2;
}
.text3{
  grid-area: text3;
}
.text4{
  grid-area: text4;
}
.text_exam{
  grid-area: text_exam;
}

.text{
  margin: 2vw;
  line-height: 3.5vh;
  font-size: 2vh;
  margin-top: 0px;
  margin-bottom: 0px;
}

.text1, .text3, .text_exam{
  margin-right: 6vw;
}

.text2, .text4 {
  margin-left: 6vw;
}


h2, h3 {
  font-size: 2.5vh;
}


.grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
"sem1 text1"
"text2 sem2"
"sem3 text3"
"text4 sem4"
"exams text_exam";
}
.grid_index{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
  "frontpage_photo frontpage_text";
}
.hero__img--skill {
  margin: 0px;
  width: 100vw;
  height: 80vh;
  background: url("images/skills.jpg") no-repeat center;
  background-size: cover;
}
.hero__img--job {
  margin: 0px;
  width: 100vw;
  height: 80vh;
  background: url("images/job.jpg") center no-repeat;
  background-size: cover;
}
.hero__title {
  font-family: sans-serif;
  padding: 40px;
  background: rgba(45, 76, 121, 0.6);
  margin: 0px;
  width: 35vw;
  position: relative;
  top: 40%;
  color: white;
}
.hero__title--bold {
  font-size: 2em;
}
.par-skill, .par-job {
  padding: 10vh 15vw;
  margin: 5vh 0px;
}
